
@media screen and (min-width:480px) {
    div.fix-align {
        width: 100%;
        margin: auto;
    }
}

@media screen and (min-width:767px) {
	div.fix-align {
        width: 50%;
        margin: auto;
   }
}