
@media screen and (min-width:480px) {
    div.fix-align {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (min-device-width: 768px){
	div.fix-align {
        width: 50%;
        margin: auto;
   }
}